footer {
  position: absolute;
  bottom: 0;
  border: 5px solid #6950A1;
  font-size: 20px;
  font-weight: bold;
}

.footer-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 15%;
}